{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-prettier",
        "stylelint-config-rational-order-fix"
    ],
    "defaultSeverity": "warning",
    "rules": {
        "indentation": "tab",
        "selector-max-id": 5,
        "max-nesting-depth": 5
    }
}
